@model App.ViewModels.SnippetsByGroupViewModel

@{
    ViewBag.Title = "Group";
}

<div class="grid">
    <div class="row">
        <h2 class="span9">Снипети во група @Model.Group.Name</h2>
        <a class="button large" href="javascript:void(0)" onclick="return alert('NOT IMPLEMENTED')">Додади нов снипет</a>
    </div>
</div>
<hr />

<div class="grid">
    @{Html.RenderPartial("_ListSnippets", new App.ViewModels.ListSnippetsPartialViewModel { Snippets = Model.Snippets, GroupButtons = true, SpanSizeSnippets = "span9", SpanSizeArea = "span12" });}
</div>

@section Scripts{
    <script src="~/Scripts/src-noconflict/ace.js"></script>
    <script src="~/Scripts/metro-times.js"></script>
    <script src="~/Scripts/Our Scripts/EditorInitializer.js"></script>
    <script>
        $(function () {

            $(".removeFromGroup").click(function () {

                var answer = confirm("Дали сте сигурни?");

                if (!answer)
                    return;

                var snippetID = $(this).attr("id");
                var groupID = '@Model.Group.ID';
                var button = $(this);

                console.log(snippetID);
                console.log(groupID);

                $.post('@Url.Action("RemoveSnippetFromGroup", "Admin")', { SnippetID: snippetID, GroupID: groupID }, function (data) {

                    var msg = "Неуспешно избришан Snippet од група!";

                    if (data > 0) {
                        button.parent().parent().remove();
                        msg = "Успешно избришан Snippet од група!";
                    }

                    $.Notify({
                        caption: "Статус",
                        content: msg,
                        timeout: 10000, // 10 seconds
                        style: { background: "#60a917", color: "#fff" }
                    });
                });
            });
        });

</script>
}
