body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}


#loader {
  display:none;
  font-size: 90px;
  text-indent: -9999em;
  overflow: hidden;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  margin: 0 auto;
  top:50%;
  left:50%;
  position: fixed;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load6 1.7s infinite ease;
  animation: load6 1.7s infinite ease;
}

@-webkit-keyframes load6 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    box-shadow: 0 -0.83em 0 -0.4em #000, 0 -0.83em 0 -0.42em #000, 0 -0.83em 0 -0.44em #000, 0 -0.83em 0 -0.46em #000, 0 -0.83em 0 -0.477em #000;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em #000, 0 -0.83em 0 -0.42em #000, 0 -0.83em 0 -0.44em #000, 0 -0.83em 0 -0.46em #000, 0 -0.83em 0 -0.477em #000;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em #000, -0.087em -0.825em 0 -0.42em #000, -0.173em -0.812em 0 -0.44em #000, -0.256em -0.789em 0 -0.46em #000, -0.297em -0.775em 0 -0.477em #000;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em #000, -0.338em -0.758em 0 -0.42em #000, -0.555em -0.617em 0 -0.44em #000, -0.671em -0.488em 0 -0.46em #000, -0.749em -0.34em 0 -0.477em #000;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em #000, -0.377em -0.74em 0 -0.42em #000, -0.645em -0.522em 0 -0.44em #000, -0.775em -0.297em 0 -0.46em #000, -0.82em -0.09em 0 -0.477em #000;
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    box-shadow: 0 -0.83em 0 -0.4em #000, 0 -0.83em 0 -0.42em #000, 0 -0.83em 0 -0.44em #000, 0 -0.83em 0 -0.46em #000, 0 -0.83em 0 -0.477em #000;
  }
}

@keyframes load6 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    box-shadow: 0 -0.83em 0 -0.4em #000, 0 -0.83em 0 -0.42em #000, 0 -0.83em 0 -0.44em #000, 0 -0.83em 0 -0.46em #000, 0 -0.83em 0 -0.477em #000;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em #000, 0 -0.83em 0 -0.42em #000, 0 -0.83em 0 -0.44em #000, 0 -0.83em 0 -0.46em #000, 0 -0.83em 0 -0.477em #000;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em #000, -0.087em -0.825em 0 -0.42em #000, -0.173em -0.812em 0 -0.44em #000, -0.256em -0.789em 0 -0.46em #000, -0.297em -0.775em 0 -0.477em #000;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em #000, -0.338em -0.758em 0 -0.42em #000, -0.555em -0.617em 0 -0.44em #000, -0.671em -0.488em 0 -0.46em #000, -0.749em -0.34em 0 -0.477em #000;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em #000, -0.377em -0.74em 0 -0.42em #000, -0.645em -0.522em 0 -0.44em #000, -0.775em -0.297em 0 -0.46em #000, -0.82em -0.09em 0 -0.477em #000;
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    box-shadow: 0 -0.83em 0 -0.4em #000, 0 -0.83em 0 -0.42em #000, 0 -0.83em 0 -0.44em #000, 0 -0.83em 0 -0.46em #000, 0 -0.83em 0 -0.477em #000;
  }
}


@media (min-width:500px)
{
    .sidebar{
        display:none;
        position:absolute;
        top:0;
    }
    .horizontal-menu li:first-child{
        display:none;
    }
    
}

@media (max-width:500px)
{
        
    .horizontal-menu li{
        display:none!important;
    }
    .horizontal-menu li:first-child{
        display:inline-block!important;
    }
    
    .sidebar{        
        position:absolute;
        top:0;
        left:-100%;
        z-index:9999;
    } 

    /*.horizontal-menu{
        display:none;
    }*/
}